
@media (max-width:1600px) {
    .divBGD{
    /* Rectangle 2755 */

box-sizing: border-box;

position: absolute;
width: 969px;
height: 762px;

background: rgba(255, 255, 255, 0.55);
border: 3px solid #FFFFFF;
border-radius: 27px;

}
.imageD{


width: 376.76px;
height: 214.97px;




}
.paragraphe{
    /* Please set your schedule first */


width: 500px;
height: 72px;


font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;


}
.btnD{
    /* Frame 595 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 24px;
gap: 10px;

margin-left: 10%;
width: 289px;
height: 38px;


/* gradient */
background: linear-gradient(95.07deg, #C43CAB 7.11%, #F87E4B 91.63%);
border-radius: 20px;

}
 }
/*
    @media (max-width:1300px) {
        .divBGD{
            
            width: auto;}
        
        .messageD{
            margin-left: 20%;
            width: auto;
        }}
        @media (max-width:900px) {
            .divBGD{
                
                width: auto;}
            
            .messageD{
                margin-left: 40%;
                width: auto;
            }}
            
            .imageD{
                width: 100%;
                height: 20%;
            }
            .paragraphe{
                font-size: 38%;
            }
            .btnD{
                width: 70%;
                height: auto;
            }
    
@media (max-width:600px) {
    .divBGD{
        
        width: auto;}
    .imageD{
        width: 100%;
        height: 20%;
    }
    .messageD{
        margin-left: 40%;
        width: auto;
    }
    .paragraphe{
        font-size: 35%;
    }
    .btnD{
        width: 70%;
        height: auto;
    }
}  */