.svg1{
    /* Vector */

position: absolute;
left: -1.46%;
right: 42.08%;
top: 0%;
bottom:100%;

background: linear-gradient(95.07deg, #C43CAB 7.11%, #F87E4B 91.63%);
box-shadow: 12px 9px 66px rgba(128, 87, 21, 0.49);

}