.svgMenu{
  float: right;
}
.msg1{
  /* Tableau de bord */


margin-top: 10px;
height: auto;
width: auto;
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 14px;
/* identical to box height, or 48% */

color: #000000;


}
.barre{
  margin-top: 5%;
}
.imag{
  /* Group 594 */


width: 53px;
height: 53px;

top: 62px;


}
.divBGS{
    /* Container settings */
    box-sizing: border-box;
    width: 969px;
    height: 762px;
    background: rgba(255, 255, 255, 0.55);
    border: 3px solid #FFFFFF;
    border-radius: 27px;
  
    /* Flexbox centering */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
  }
  
  .image {
    width: 376.76px;
    height: 214.97px;
    display: block;
    margin-bottom: 20px; /* Add margin for spacing */
  }
  
  .paragraphe {
    width: 500px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px; /* Add margin for spacing */
  }
  
  .btnS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 10px;
    width: 289px;
    border: none;
    color: white;
    height: 38px;
    background: linear-gradient(95.07deg, #C43CAB 7.11%, #F87E4B 91.63%);
    border-radius: 20px;
  }
  
  .CADRE{
    margin-top: 5%;
  }
/* 
  @media (max-width:1300px) {
    .divBGS{
        
        width: auto;}
    
    .messageS{
        margin-left: 10%;
        width: auto;
    }
    .msg1{
      font-size: 70%;
    }
  }
    @media (max-width:1300px) {
        .divBGS{
            
            width: auto;}
        
        .messageS{
            margin-left: 20%;
            width: auto;
        }}
        @media (max-width:900px) {
            .divBGS{
                
                width: auto;}
            
            .messageS{
                margin-left: 40%;
                width: auto;
            }}
            
            .imageS{
                width: 100%;
                height: 20%;
            }
            .paragraphe{
                font-size: 38%;
            }
            .btnS{
                width: 70%;
                height: auto;
            }
    
@media (max-width:600px) {
    .divBGS{
        
        width: auto;}
    .imageS{
        width: 100%;
        height: 20%;
    }
    .messageS{
        margin-left: 40%;
        width: auto;
    }
    .paragraphe{
        font-size: 38%;
    }
    .btnS{
        width: 70%;
        height: auto;
    }
}  */